#chartdiv{
	width: 60%;
	margin-left: auto;
	margin-right: auto;
	margin-top: 8vh;
	height: 60vh;
}

p{
	font-size: 120%;
}

h1{
	font-size: 350%;
	background-color: blue;
	color: white;
}

h2{
	font-size: 180%;
}